To: @ViewBag.To
Bcc: info@poussedebambin.com
From: Remi - Pousse De Bambin <remi@poussedebambin.com>
Subject: @Html.Raw(ViewBag.Subject)

    <p>
        Notification de changement de prix de l'objet @ViewBag.GiftName, de @ViewBag.OldPrice à @ViewBag.NewPrice,
        sur la liste @ViewBag.ListName.
    </p>
