@model PousseDeBambin.Models.LoginViewModel

@{
    ViewBag.Title = "Mon compte";
}

<div class="login_title"><h2>@ViewBag.Title</h2></div>    
        
            <section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-account", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div id="compte_cree">
            <span class="padding-title"><h4>J'ai déjà un compte : </h4></span>
            @Html.ValidationSummary(true)
            <div id="login">
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "label" }) :
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "label" }) :
                    <span class="margin-form">@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</span>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="login_button">
                <input type="submit" value="Connexion" id="login_connexion" class="btn btn-default" />
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>


        <div class="login_separation"></div>

        <div class="first_list">
            <h4>Première liste : </h4>
            <p>
                @Html.ActionLink("Créer mon compte", "Register", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "login_create" })
            </p>
        </div>
    }
</section>


        
        ***REMOVED***
        <div class="col-md-4">
            <section id="socialLoginForm">
                @*@Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })*@
            </section>
        </div>
          ***REMOVED***
    
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
