@model PousseDeBambin.Models.List



***REMOVED*** Object in the list -->
@if (Model.Gifts != null && Model.Gifts.Count() != 0)
{
    <div class="listBox">
        <div class="giftList">
        @foreach (var item in Model.Gifts)
        {
            <div class="row_items">
                @using (Ajax.BeginForm("DeletePartial", "Gift", new { id = item.GiftId },
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        OnComplete = "CompleteDelete",
                        Confirm = "Etes vous sûr de vouloir supprimer cet objet de la liste ?"
                    }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                }
                <img id="miniImg" src="@item.ImageUrl" width="80" height="80"/>
                
                <div class="col-md-10_gift">
                    @Ajax.ActionLink(
                                item.Name,
                                "EditPartial",
                                "Gift",
                                new { giftID = item.GiftId },
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    UpdateTargetId = "divEditGift",
                                    InsertionMode = InsertionMode.Replace,
                                    OnSuccess = "CompleteLoadingEdit"
                                }
                            )
                </div>
            </div>
        }
    </div>
    </div>
    <div id="divBtnSummaryGifts" class="spaceTop">
        @if (ViewBag.AdminConnected != null && ViewBag.AdminConnected)
        {
            <a id="btnAccessConsult" href="@Url.Action("Consult", "List", new { id = Model.ListId })" class="btn btn-warning">Consulter ma liste</a>
        }
        else
        {
            using(Html.BeginForm("Validate", "List", new { id = Model.ListId }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.HiddenFor(x => Model.ListId)
                <div class="validate_list">
                    <p>
                        <input type="submit" class="btn btn-primary_validate_img" value="Je valide ma liste !" />
                    </p>
                </div>
            }
        }
    </div>
}
else
{
    <div>
        <p class="aucun_objet">Aucun objet dans la liste pour le moment :)</p>
    </div>
}