@model PousseDeBambin.Models.List

@section metaDescription
{
    <!-- Google plus infos -->
    <!-- Mettez la balise html à jour pour inclure les attributs itemscope et itemtype. -->
    <html itemscope itemtype="http://schema.org/Product">

    <!-- Ajoutez les trois balises suivantes dans l'en-tête. -->
    <meta itemprop="name" content="@Model.Name">
    <meta itemprop="description" content="@Model.Description">
    <meta itemprop="image" content="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/Content/img/home/logo.png")">
}

@{
    ViewBag.Title = "Partage";
}

<h2>Partage de @Model.Name</h2>

<p class="share_list">Bravo ! Vous pouvez partager votre liste "@Model.Name" maintenant !</p>

<div class="share_list">
    <div class="fb-share-button" data-href="@Url.Action("Manage", "List", new { id = Model.ListId }, Request.Url.Scheme)" data-type="button_count"></div>
    <a href="https://twitter.com/intent/tweet?button_hashtag=PousseDeBambin&text=Voici%20la%20liste%20de%20naissance%20pour%20mon%20enfant%20!%20Inspirez%20vous%20en%20%3B)" class="twitter-hashtag-button" data-lang="fr" data-related="PousseDeBambin" data-url="@Url.Action("Manage", "List", new { id = Model.ListId }, Request.Url.Scheme)">Tweet #PousseDeBambin</a>
    <!-- Placez cette balise où vous souhaitez faire apparaître le gadget bouton "Partager". -->
    <div class="g-plus" data-action="share" data-annotation="none"></div>
</div>

<p class="share_list">Ou par mail : Donnez tout simplement cette adresse à vos proches : @Html.ActionLink(Url.Action("Manage", "List", new { id = Model.ListId }, Request.Url.Scheme), "Manage", new { id = Model.ListId })</p>

@section OtherScripts
{
    <!-- Google Code for Page cr&eacute;ation de liste Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 967658191;
        var google_conversion_language = "en";
        var google_conversion_format = "2";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "xB32CMGs6AgQz5W1zQM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/967658191/?label=xB32CMGs6AgQz5W1zQM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
}
