@model PousseDeBambin.Models.Gift

***REMOVED*** On fait un formulaire ajax de création d'objet. -->
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.ListID)

<div class="divObjectImage">
    @Html.LabelFor(model => model.ImageUrl)
    @Html.EditorFor(model => model.ImageUrl)
    <img src="@Model.ImageUrl" class="objectImage img-thumbnail" />
</div>
<div class="divObjectGift">
    <div class="divObjectWebsite">
        @Html.LabelFor(model => model.WebSite)
        @Html.EditorFor(modelItem => Model.WebSite)
    </div>
    <div class="divObjectName">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(modelItem => Model.Name)
    </div>
    <div class="divObjectDescription">
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(modelItem => Model.Description)
    </div>
</div>
<div class="divObjectPrice">
    @Html.LabelFor(model => model.Price)
    <p class="textWithoutWrap">@Html.EditorFor(modelItem => Model.Price)</p>
</div>
<div class="divObjectBuy">
    <div>
        <input id="btnCreateGift" type="submit" value="Valider l'objet" />
    </div>
</div>



