@model PousseDeBambin.Models.Gift

***REMOVED*** On fait un formulaire ajax de création d'objet. -->


<td class="divObjectImage editCell">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ListID)

    <div class="editObjectImage">
        @Html.LabelFor(model => model.ImageUrl)
        @Html.ValidationMessageFor(model => model.ImageUrl)
        @Html.TextBoxFor(model => model.ImageUrl, new { @class = "editImageUrl" })
        <img id="displayImage" src="@Model.ImageUrl" class="divObjectImage" onerror="this.onerror=null;this.src='@Url.Content("~/Content/img/giftsList/img_non_trouvee.jpg")'" />
    </div>
</td>

<td class="divObjectGift editCell">
    <div class="divObjectWebsite editObjectGift">
        <p class="modifier_cadeau">Modification de votre cadeau !</p>
        <div>
            @Html.LabelFor(model => model.WebSite)
        </div>
        @Html.ValidationMessageFor(model => model.WebSite)
        @Html.TextBoxFor(modelItem => Model.WebSite)
        <a href="#" id="btnEditSearchObject" class="btn btn-primary btn-sm" role="button">
            Rechercher
        </a>
        <a href="#" id="btnStopEditSearchObject">
            <img id="editAjaxLoading" class="ajaxLoadingGift" src="/Content/img/loading/ajax-loader.gif" alt="Loading" />
            Arrêter la recherche
        </a>
        <p class="texte_fonction_recherche">Ce bouton vous permet de rechercher automatiquement les informations liées à l'objet.</p>
    </div>
    <div class="divObjectName editObjectName">
        <div>
            @Html.LabelFor(model => model.Name, new { @class = "objectNameLabel" })
        </div>
        @Html.ValidationMessageFor(model => model.Name)
        @Html.TextBoxFor(modelItem => Model.Name)
    </div>
    <div class="divObjectPriority editObjectPriority">
        <div>
            @Html.LabelFor(model => model.Priorite, new { @class = "" })
        </div>
        @Html.ValidationMessageFor(model => model.Priorite)
        @Html.EditorFor(modelItem => Model, "_PrioriteRating")
    </div>
    <div class="divObjectDescription editObjectDescription">
        <div>
        @Html.LabelFor(model => model.Description)
        </div>
        @Html.ValidationMessageFor(model => model.Description)
        @Html.TextAreaFor(modelItem => Model.Description)
    </div>
</td>
<td class="divObjectPrice editCell">
    <div class="editObjectPrice">
        @Html.LabelFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price)
        <p class="textWithoutWrap">@Html.TextBoxFor(modelItem => Model.Price)</p>
    </div>
</td>
<td class="divAddObject editCell">
    <div id="giftInfos" class="editAddObject">
        <div>
            <input id="btnEditGift" type="submit" value="Valider !" />
        </div>
    </div>
</td>

<script>
    var nameIdGift = "#gift" + "@(Model.GiftId)";
    $(document).ready(function () {

        $(nameIdGift + " " + "#btnEditGift").click(function () {
            submitEditGift();
        });

        function submitEditGift() {
            
            $.ajax({
                url: "@Url.Action("EditPartialTwo", "Gift")",
                data: {
                    ListID: "@Model.ListID",
                    GiftId: "@Model.GiftId",
                    ImageUrl: $(nameIdGift + " " + "#ImageUrl").val(),
                    WebSite: $(nameIdGift + " " + "#WebSite").val(),
                    Name: $(nameIdGift + " " + "#Name").val(),
                    Description: $(nameIdGift + " " + "#Description").val(),
                    Price: $(nameIdGift + " " + "#Price").val(),
                    Priorite: $(nameIdGift + " " + "#Priorite").val()
                },
                type: "POST",
                content: 'application/json; charset=utf-8',
                datatype: 'html',
                success: function (data) {
                    //alert("Ché bon ! : "+ nameIdGift + " et le code de retour : "+data);
                    $(nameIdGift).html(data);
                    rebindRateIt();
                    registerBuyButton();
                    //refreshGiftsList();
                }
            });
        }
    });

    ////--------------- Gestion Diffbot --------////

    //Gestion de la visibility
    jQuery.fn.visible = function () {
        return this.css('visibility', 'visible');
    };

    jQuery.fn.invisible = function () {
        return this.css('visibility', 'hidden');
    };

    jQuery.fn.visibilityToggle = function () {
        return this.css('visibility', function (i, visibility) {
            return (visibility == 'visible') ? 'hidden' : 'visible';
        });
    };

    // Gestion diffbot
    $(function () {
        var searchAjax = null;
        // On init les boutons de recherche
        InitSearch();

        // Lorsque l'on clique sur le bouton d'arret de la recherche
        $(nameIdGift + " " + "#btnStopEditSearchObject").click(function () {
            if (searchAjax) {
                // On annule la requete de recherche
                searchAjax.abort();
                searchAjax = null;

                // On réaffiche le bouton de recherches
                SearchTerminate();
            }
        });

        // Lorsque l'on clique sur le bouton de recherche de l'objet en création
        $(nameIdGift + " " + "#btnEditSearchObject").click(function () {
            // On affiche le bouton pour stopper la recherche
            Search();

            // We get the website
            var website = $(nameIdGift + " " + '#WebSite').val();

            // Loading
            searchAjax = $.ajax({
                url: 'http://api.diffbot.com/v2/product',
                crossDomain: true,
                data: { 'token': '2d5a54f7471c7958ae0c4d3dcdcd5592', 'url': website },
                dataType: 'jsonp',
                type: 'GET',
                timeout: 20000,
                success: function (data) {
                    try {
                        // Fill all variables with returned values
                        var amount = ('amount' in data.products[0].offerPriceDetails) ? data.products[0].offerPriceDetails.amount : '0';
                        var link = ('link' in data.products[0].media[0]) ? data.products[0].media[0].link : '';
                        var title = ('title' in data.products[0]) ? data.products[0].title : '';
                        var description = ('description' in data.products[0]) ? data.products[0].description : '';

                        // Fill all divs with the return of the data

                        // Normalisation du prix en FR
                        var amountNormalizedFr = normalize(amount);

                        // ImageUrl
                        $(nameIdGift + " " + "#ImageUrl").val(link);
                        // Price
                        $(nameIdGift + " " + "#Price").val(amountNormalizedFr);
                        // Title / Name of the product
                        $(nameIdGift + " " + "#Name").val(title);
                        // Description
                        $(nameIdGift + " " + "#Description").val(description);
                        // Ajout de l'image
                        $(nameIdGift + " " + "#displayImage").attr("src", link);
                    }
                    catch (e) {
                        alert("Un problème est en cours avec la recherche automatique, veuillez réessayer plus tard :). En attendant, vous pouvez toujours entrer les informations à la main ;).");
                        console.log("Problème dans la récupération des données");
                        //TODO : Logguer l'erreur
                    }

                    SearchTerminate();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Un problème est en cours avec la recherche automatique, veuillez réessayer plus tard :). En attendant, vous pouvez toujours entrer les informations à la main ;).");
                    console.log("Problème dans le retour diffbot");
                    SearchTerminate();
                }
            });

            return false;
        });

        function Search() {
            // On cache le bouton de recherche
            $(nameIdGift + " " + '#btnEditSearchObject').hide();
            // On affiche les champs remplis
            //$('#giftInfosCreate').hide();
            // On affiche le bouton d'arret de recherche
            $(nameIdGift + " " + '#btnStopEditSearchObject').show();
        }

        function SearchTerminate() {
            // On affiche le bouton de recherche
            $(nameIdGift + " " + '#btnEditSearchObject').show();
            // On affiche les champs remplis
            //$('#giftInfosCreate').show();
            // On cache le bouton d'arret de recherche
            $(nameIdGift + " " + '#btnStopEditSearchObject').hide();

            // On affiche les champs remplis
            //$('.createObjectImage').css('visibility', 'visible');
            //$('.createObjectName').css('visibility', 'visible');
            //$('.createObjectDescription').css('visibility', 'visible');
            //$('.createObjectPrice').css('visibility', 'visible');
            //$('.createAddObject').css('visibility', 'visible');
        }

        function InitSearch() {
            // On affiche le bouton de recherche
            $(nameIdGift + " " + '#btnEditSearchObject').show();
            // On cache le bouton d'arret de recherche
            $(nameIdGift + " " + '#btnStopEditSearchObject').hide();

            // On cache également les champs non utile pour le moment
            //$('.createObjectImage').css('visibility', 'hidden');
            //$('.createObjectName').css('visibility', 'hidden');
            //$('.createObjectDescription').css('visibility', 'hidden');
            //$('.createObjectPrice').css('visibility', 'hidden');
            //$('.createAddObject').css('visibility', 'hidden');
        }

        function normalize(amount) {
            return amount.toString().replace(".", ",");
        }

        // Gestion des divers évènements de la page
        $(function () {
            $(".divObjectImage").change(function () {
                $(".editObjectImage #displayImage").error(function () {
                    this.onerror = null;
                    this.src = '@Url.Content("~/Content/img/giftsList/img_non_trouvee.jpg")';
                }).attr("src", $(".editImageUrl").val());
            });
        });
    });
</script>
