@model PousseDeBambin.Models.Gift

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
<fieldset>
    <legend>Edition de cadeau</legend>

    @Html.HiddenFor(model => model.ListID)
    @Html.HiddenFor(model => model.GiftId)


    <div class="editor-label">
        @Html.LabelFor(model => model.WebSite)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WebSite)
        <a href="#" id="btnEditSearchObject" class="btn btn-primary btn-sm" role="button">
            Chercher automatiquement les informations de l'objet
        </a>
        <a href="#" id="btnStopEditSearchObject">
            <img id="createAjaxLoading" class="ajaxLoadingGift" src="/Content/img/loading/ajax-loader.gif" alt="Loading" />
            Arrêter la recherche
        </a>
        @Html.ValidationMessageFor(model => model.WebSite)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ImageUrl)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ImageUrl)
        @Html.ValidationMessageFor(model => model.ImageUrl)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Price)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <div class="spaceTop">
        <input type="submit" class="btn btn-warning" value="J'ai terminé de modifier mon objet !" />
    </div>
</fieldset>


<script>
    $(function () {
        var searchAjax = null;
        // On init les boutons de recherche
        SearchTerminate();
        
        // Lorsque l'on clique sur le bouton d'arret de la recherche
        $("#btnStopEditSearchObject").click(function () {
            if (searchAjax) {
                // On annule la requete de recherche
                searchAjax.abort();
                searchAjax = null;

                // On réaffiche le bouton de recherches
                SearchTerminate();
            }
        });

        $("#btnEditSearchObject").click(function () {
            // On affiche le bouton pour stopper la recherche
            Search();

            // We get the website
            var website = $('#editPart #WebSite').val();

            $.ajax({
                url: 'http://api.diffbot.com/v2/product',
                crossDomain: true,
                data: { 'token': '2d5a54f7471c7958ae0c4d3dcdcd5592', 'url': website },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    // Fill all divs with the return of the data

                    // ImageUrl
                    $("#editPart #ImageUrl").val(data.products[0].media[0].link);
                    // Price
                    $("#editPart #Price").val(data.products[0].offerPriceDetails.amount);
                    // Title / Name of the product
                    $("#editPart #Name").val(data.products[0].title);
                    // Description
                    $("#editPart #Description").val(data.products[0].description);

                    $('#editAjaxLoading').hide();

                    SearchTerminate();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Un problème est en cours avec la recherche automatique, veuillez réessayer plus tard :). En attendant, vous pouvez toujours entrer les informations à la main ;).");
                    SearchTerminate();
                }
            });

            return false;
        });

        function Search() {
            // On cache le bouton de recherche
            $('#btnEditSearchObject').hide();
            // On affiche le bouton d'arret de recherche
            $('#btnStopEditSearchObject').show();
        }

        function SearchTerminate() {
            // On affiche le bouton de recherche
            $('#btnEditSearchObject').show();
            // On cache le bouton d'arret de recherche
            $('#btnStopEditSearchObject').hide();
        }
    });
</script>
