@model PousseDeBambin.Models.Gift

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Recherche</h4>
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ListID)
        
        ***REMOVED*** Champs à remplir par diffbot -->
        @Html.HiddenFor(model => model.Name)

        @Html.HiddenFor(model => model.Description)

        @Html.HiddenFor(model => model.Price)

        @Html.HiddenFor(model => model.ImageUrl)
        
        ***REMOVED******REMOVED***
        <div class="editor-label">
            @Html.LabelFor(model => model.WebSite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebSite)
            <a href="#" id="btnEditSearchObject" class="btn btn-primary btn-sm" role="button">
                Rechercher
            </a>

            <a href="#" id="btnStopEditSearchObject">
                <img id="editAjaxLoading" class="ajaxLoadingGift" src="/Content/img/loading/ajax-loader.gif" alt="Loading" />
                Arrêter la recherche
            </a>
            @Html.ValidationMessageFor(model => model.WebSite)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
