@model PousseDeBambin.Models.ApplicationUser

<div class="barre_connexion">
    <!-- Single button -->

    <div class="dropdown-menu">
        <p>Bienvenue, @Model.UserName</p>
        <ul role="menu">
            <!-- TODO: Récupérer le lien vers la liste si il n'y en a qu'une, sinon récupérer
            tous les liens de la liste et construire un dropright
            -->
            @if (Model != null && Model.Lists != null && Model.Lists.Count != 0)
            {
                if (Model.Lists.Count == 1)
                {
                    <li><a href="@Url.Action("Manage", "List", new { id = Model.Lists.First().ListId })">Ma liste de naissance</a></li>
                }
                else if (Model.Lists.Count > 1)
                {
                    <li class="dropdown-menu">
                        <a href="#">Mes listes de naissance</a>
                        <ul>
                            @foreach (PousseDeBambin.Models.List liste in Model.Lists)
                            {
                                var url = Url.Action("Manage", "List", new { id = liste.ListId });
                                <li><a href=@url>@liste.Name</a></li>
                            }
                        </ul>
                    </li>
                }
            }

            <li><a href="@Url.Action("Manage", "Account")">Mon compte</a></li>
            <li><a href="@Url.Action("LogOffGet", "Account")">Déconnexion</a></li>
        </ul>
    </div>

</div>

<script>
    $(document).ready(function () {
        $(document).on('click', '.dropdown-menu', function () {
            $(this).toggleClass('dm-focus');
        });
    });
</script>