***REMOVED*** Liens verticaux + Texte aligné à droite et justifié -->
<div class="row" id="endFooter">
    <div id="liensFooter" class="container">
        <div class="row">
            <div class="element">
                @Html.ActionLink("Aide", "Help", "Miscellanous", null, null)
            </div>
            <div class="element">
                @Html.ActionLink("Mentions légales", "LegalMentions", "Miscellanous", null, null)
            </div>
            <div class="element">
                @Html.ActionLink("Contact", "Create", "Prospect", null, null)
            </div>
            <div class="element">
                @Html.ActionLink("CGU", "CGU", "Miscellanous", null, null)
            </div>
            <div class="element">
                @Html.ActionLink("Plan du site", "WebSitePlan", "Miscellanous", null, null)
            </div>
        </div>
    </div>
</div>
