***REMOVED*** Liens verticaux + Texte aligné à droite et justifié -->
<div class="row" id="endFooter">
    <div id="liensFooter" class="container">
        <div class="row">
            <div class="element">
                @Html.ActionLink("Aide", "Help", "Miscellaneous", null, null)
            </div>
            <div class="element">
                @Html.ActionLink("Mentions légales", "LegalMentions", "Miscellaneous", null, null)
            </div>
            ***REMOVED***
            <div class="element">
                @Html.ActionLink("Contact", "Create", "Prospect", null, null)
            </div>
          ***REMOVED***
            <div class="element">
                @Html.ActionLink("CGU", "CGU", "Miscellaneous", null, null)
            </div>
            <div class="element">
                @Html.ActionLink("Plan du site", "WebSitePlan", "Miscellaneous", null, null)
            </div>
            <div class="fb-like" data-href="https://www.facebook.com/poussedebambin" data-colorscheme="dark" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
            <a href="https://twitter.com/PoussedeBambin" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @@PousseDeBambin</a>
            
            <div class="g-plusone" data-size="small"><div class="googleplus"></div>
            
        </div>
    </div>
</div>
