<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Pousse De Bambin !</title>
    <link href="/Content/img/home/favicon.jpg" rel="shortcut icon" type="image/jpeg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    ***REMOVED***<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">-->
    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/carousel")

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <link rel="image_src" href="~/Content/img/home/logo.png" />
    <meta property="og:image" content="~/Content/img/home/logo.png" />
    <meta name="description" content="@ViewBag.Description" />

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-47337807-1', 'poussedebambin.com');
        ga('send', 'pageview');
    </script>

</head>
<body>
    @Html.Partial("_MessageBeta")
    <header>
        <div id="connexionBar" class="connexionBar">
            @Html.Action("LoginBar", "Account", new { returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery })
        </div>
        @Html.Partial("_MainTabs")
        <div class="header_bottom"></div>

    </header>
    ***REMOVED***div class="alert alert-success">
        <p id="textBeta">
            Pousse De Bambin vient de naître...et, comme tout être, va se perfectionner petit à petit. Ainsi
            <a href="mailto:remi@poussedebambin.com?subject=Retour Pousse De Bambin&cc=marion@poussedebambin.com&body=Bonjour," target="_blank" class="alert-link">contactez nous</a> pour faire votre retour ! Vous ferez une pousse heureux !
        </p>
    </div>-->
    <div class="">

        <div id="contentAndFooter" class="">
            <div id="body">
                @RenderSection("breadCrumbs", required: false)
                @RenderSection("featured", required: false)
                <section id="mainSection">
                    ***REMOVED*** Messages d'alerte divers-->
                    @Html.Partial("_AlertMessages")
                    @RenderBody()
                </section>
            </div>
            <footer>
                @RenderSection("howItWorks", required: false)
                @Html.Partial("_Footer")
                @RenderSection("moreFooter", required: false)
            </footer>
        </div>
    </div>
    
    ***REMOVED*** Viglink -->
    <script type="text/javascript">
        var vglnk = {
            api_url: '//api.viglink.com/api',
            key: 'e1280bc713785a94c14090e0302a9ab4'
        };

        (function (d, t) {
            var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
            s.src = ('https:' == document.location.protocol ? vglnk.api_url :
                     '//cdn.viglink.com/api') + '/vglnk.js';
            var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
        }(document, 'script'));
    </script>
    ***REMOVED*** Social script -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=708244749188733";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");

        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
    ***REMOVED*** Fin Social script -->
    ***REMOVED***<script type="text/javascript" src="http://s.skimresources.com/js/59995X1382328.skimlinks.js"></script>-->
</body>
</html>
